---
---

@import "{{ site.theme }}";


@import url("'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");

/*@import url("https://github.com/MattMayuga/StepMania-and-Other-Rhythm-Game-Judgment-Fonts/raw/master/assets/fonts/hun2%20(1).ttf");*/

@import url("http://fonts.googleapis.com/css?family=Droid+Sans+Mono");

body, p, td {
    font-family: "Roboto", "Sans";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Sans";
}

tt, code, pre {
    font-family: "Droid Sans Mono", consolas, monoca, "Courier New", monospace;
}

